{% extends 'core/base.html' %}
{% load static %}
{% block title %}Delete Account {% endblock %}
{% block content %}
<style>.errorlist{color:red;}</style>
<main role="main">
  <div class="container mt-5">
    <div class="row mt-5">
      <div class="col-md-9 mx-auto my-5">
        <form action="" method="post">{% csrf_token %}
            <h3 class="my-4">Delete Account</h3>
          <p>Are you sure you wanto to delete "{{ object }}"?</p>
            <input type="submit" class="btn btn-danger btn-block" value="Delete Account">
        <a href="{% url 'home' %}" class="btn btn-secondary">No, thank you.</a>
        </form>
      </div>
    </div>
  </div>
</main>
{% endblock %}