{% extends 'core/base.html' %}
{% load static %}
{% block title %}Change password {% endblock %}
{% block content %}
<style>.errorlist{color:red;}</style>
<main role="main">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto mb-5">
        <form action="" method="post">{% csrf_token %}
            <h3 class="mb-4">Change password</h3>
            <p>Please, introduce your current password for security and then type twice the new password to verify it was written correctly.</p>
            {{form.old_password.errors}}
            <p><input type="password" name="old_password" autofocus="" required="" id="id_old_password"class="form-control" placeholder="Current password"></p>
            {{form.new_password1.errors}}
            <p><input type="password" name="new_password1" required="" id="id_new_password1" class="form-control" placeholder="New password"></p>
            {{form.new_password2.errors}}
            <p><input type="password" name="new_password2" required="" id="id_new_password2" class="form-control" placeholder="Repear new password"></p>
            <p><input type="submit" class="btn btn-success btn-block" value="Submit"></p>
            <a href="{% url 'profile' %}" class="btn btn-secondary mt-3"><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5"/>
    </svg>
        Back
    </a>
        </form>
      </div>
    </div>
  </div>
</main>
{% endblock %}