{% extends 'core/base.html' %}
{% load static %}
{% block title %}Change password {% endblock %}
{% block content %}
<style>.errorlist{color:red;}</style>
<main role="main">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto mb-5">
        <form action="" method="post">{% csrf_token %}
            <h3 class="mb-4">Change password</h3>
            <p>Please, introduce your current password for security and then type twice the new password to verify it was written correctly.</p>
            {{form.old_password.errors}}
            <p><input type="password" name="old_password" autofocus="" required="" id="id_old_password"class="form-control" placeholder="Current password"></p>
            {{form.new_password1.errors}}
            <p><input type="password" name="new_password1" required="" id="id_new_password1" class="form-control" placeholder="New password"></p>
            {{form.new_password2.errors}}
            <p><input type="password" name="new_password2" required="" id="id_new_password2" class="form-control" placeholder="Repear new password"></p>
            <p><input type="submit" class="btn btn-success btn-block" value="Submit"></p>
        </form>
      </div>
    </div>
  </div>
</main>
{% endblock %}