{% extends 'core/base_accounts.html' %}
{% load static %}
{% block title %}Write new password{% endblock %}
{% block content %}
<style>.errorlist{color:red;}</style>
<main role="main">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto mb-5">
        {% if validlink %}
          <form action="" method="post">{% csrf_token %}
            <h3 class="mb-4">Write a new password</h3>
            <p>Please, introduce your new password two times to verify it's been written correctly.</p>
            {{form.new_password1.errors}}
            <p><input type="password" name="new_password1" required="" id="id_new_password1" class="form-control" placeholder="Write new password"></p>
            {{form.new_password2.errors}}
            <p><input type="password" name="new_password2" required="" id="id_new_password2" class="form-control" placeholder="Repeat new password"></p>
            <p><input type="submit" class="btn btn-primary btn-block" value="Change my password"></p>
          </form>
        {% else %}
          <h3 class="mb-4">Recovery password failed</h3>
          <p>Invalid link for restablish password, probably it has been used before. Please, request a new password re-stablishment <a href="{% url 'password_reset' %}">here!</a>.</p>
        {% endif %}
      </div>
    </div>
  </div>
</main>
{% endblock %}