{% extends 'core/base.html' %}
{% load static %}
{% block title %}Recovery password has been already sent{% endblock %}
{% block content %}
<main role="main">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto mb-5">
        <h3 class="mb-4">Password recovery email sended</h3>
        <p>We have sent the instructions in the email that provide us. That would take few minutes as much.</p>
        <p>If you don't recieve any mail, please make sure to verify the email your wrote or check the spam folder.</p>
      </div>
    </div>
  </div>
</main>
{% endblock %}