{% extends 'core/base.html' %}
<!-- Contenido de la página -->
{% block content %}
  <div class="container mt-5">
    <a href="{% url 'add' %}" class="btn btn-primary">Store your first password</a>
  </div>
<div class="container mt-5">
    <table class="table">
      <thead class="">
        <tr>

        </tr>
      </thead>
      <tbody>
        <tr>
          <td><button type="button" class="btn btn-primary btn-sm rounded-pill">Facebook</button></td>
        </tr>
      </tbody>
    </table>
  </div>
{% endblock %}
<!-- Fin contenido -->
