{% extends 'core/base.html' %}
{% block title %}Home {% endblock %}
<!-- Content -->
{% block content %}
{% if user.is_authenticated %}
  {% if sites %}
    <div class="container mt-5">
      <table class="table">
        <tbody>
          {% for site in sites %}
            <tr>
              <td><a href="{% url 'site' site.id %}" class="btn btn-primary btn-sm rounded-pill">{{ site.website_name }}</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
    <div class="container mt-5">
      <a href="{% url 'add' %}" class="btn btn-primary">Store your first password</a>
    </div>
  {% endif %}
{% else %}
<script>
      window.location.href = "{% url 'login' %}";
</script>
{% endif %}
{% endblock %}
<!-- End Content -->
