{% extends 'core/base_accounts.html' %}
<!-- Contenido de la página -->
{% block content %}
<div class="container mt-5">
    <!-- Cuadro de texto -->
    <div class="alert alert-success" role="alert">
      <h4 class="alert-heading">Session Closed</h4>
      <p>You have successfully logged out.</p>
      <hr>
      <p class="mb-0">Thank you for using our service.</p>
    </div>
    <!-- Botón para volver al login -->
    <a href="/login" class="btn btn-primary">Login</a>

  </div>
{% endblock %}
