{% extends 'core/base.html' %}
{% block title %}Sites {% endblock %}
{% block content %}
<div class="container mt-5">
        <form method="POST">
            {% csrf_token %}
            <!-- Name -->
            <div class="form-group row">
                <label for="name" class="col-sm-3 col-form-label">Name:</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="name" value="{{sites.website_name}}" readonly>
                </div>
            </div>

            <!-- Link -->
            <div class="form-group row">
                <label for="link" class="col-sm-3 col-form-label">Link:</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="link" value="{{sites.website_link}}" readonly>
                </div>
            </div>

            <!-- Username -->
            <div class="form-group row">
                <label for="username" class="col-sm-3 col-form-label">Username:</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="username" value="{{sites.website_username}}" readonly>
                </div>
            </div>

            <!-- Description -->
            <div class="form-group row">
                <label for="description" class="col-sm-3 col-form-label">Description:</label>
                <div class="col-sm-9">
                    <textarea class="form-control" id="description" rows="3" readonly>{{sites.website_notes}}</textarea>
                </div>
            </div>

            <!-- Password -->
            <div class="form-group row">
                <label for="password" class="col-sm-3 col-form-label">Password:</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control" id="password" value="{{sites.website_password}}" readonly>
                </div>
                <div class="col-sm-3">
                    <button type="button" class="btn btn-primary" id="togglePassword">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                        <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/><path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
                        </svg>
                    </button>
                </div>
            </div>

            <!-- Delete Button -->
            <div class="form-group row">
                <div class="col-sm-9 offset-sm-3 mt-5">
                    <a href="{% url 'delete' sites.id %}" class="btn btn-danger">Delete {{sites.website_name}} site</a>
                </div>
            </div>
        </form>
    </div>

    <script>
        document.getElementById("togglePassword").addEventListener("click", function() {
            var passwordField = document.getElementById("password");
            if (passwordField.type === "password") {
                passwordField.type = "text";

            } else {
                passwordField.type = "password";

            }
        });
    </script>
{% endblock %}
